<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Tags:</b>
  <%= join_tags(@post) %>
</p>

<br/>
<br/>
<br/>
<h2>Comments</h2>
<div id="comments">
<%= render :partial=> "comments/comment", :collection=> @post.comments %>
</div>
  <br/>
<br/>
<br/>
<%= link_to "new comment", new_post_comment_path(@post, :format=> :js), :remote => true, :id => 'new_comment_link' %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
